*.json linguist-detectable=true
*.mcfunction linguist-detectable=true
*.js linguist-detectable=true
*.ts linguist-detectable=true
*.mcstructure linguist-detectable=true
*.lang linguist-detectable=true
*.material linguist-detectable=true
*.ogg linguist-detectable=true
*.ui linguist-detectable=true
